<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldDog.persistence.MemberMapper">

	<!--회원 정보 추가  -->
	<insert id="addMember">
		insert into member(member_seq.nextval, pw, name, email, gender) 
		values (#{id},#{pw},#{name},#{email},#{gender})

	</insert>
	

	
	<update id="updateMember">
		update member set m_nick=#{m_nick}, m_email=#{m_email}, m_phone=#{m_phone}
		where m_id=#{m_id}
	</update>


</mapper>