@charset "UTF-8";

.grid {
	padding-left: 40px;
	width : 90%;
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;
}

.Estimate {
	margin-bottom:500px; 
	margin-top: 15px;
	
}
.Estimate_interval {
	height: 100px;
}
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    width: 92%;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}
.nav-item .nav-link{
	font-size : 20px;
	
}

.mapageIMG {
	width : 100px;
	height: 100px;	
}


div.input-block {
  position: relative;
}
div.input-block input {
  font-weight: 500;
  font-size: 1.6rem;
  color: #495055;
  width: 350px;
  padding: 15px 15px;
  border-radius: 1rem;
  border: 2px solid  #D9D9D9;
  outline:none;
}
div.input-block span.placeholder {
  position: absolute;
  margin: 17px 0;
  padding: 0 4px;
  font-family: Roboto, sans-serif;
  color:  #6c757d;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  top: 0;
  left: 17px;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  background: none;
  pointer-events: none;
}
div.input-block input:valid + span.placeholder,
div.input-block input:focus + span.placeholder {
  transform: scale(0.8) translateY(-30px);
  background: #fff;
}
div.input-block input:focus{
  color: #284B63;
  border-color: #284B63;
}
div.input-block input:focus + span.placeholder {
  color: #284B63;
}
