@charset "UTF-8";

.grid {
	padding-left: 40px;
	width : 90%;
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;
}

.Estimate {
	margin-bottom:500px; 
	margin-top: 15px;
	
}
.Estimate_interval {
	height: 100px;
}
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    width: 92%;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}
.nav-item .nav-link{
	font-size : 20px;
	
}

.mapageIMG {
	width : 100px;
	height: 100px;	
}


div.input-block {
  position: relative;
}
div.input-block input {
  font-weight: 500;
  font-size: 1.6rem;
  color: black;
  width: 350px;
  padding: 15px 15px;
  border-radius: 1rem;
  border: 2px solid  #795548;
  outline:none;
}
div.input-block span.placeholder {
  position: absolute;
  margin: 17px 0;
  padding: 0 4px;
  font-family: Roboto, sans-serif;
  color:  black;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  top: 0;
  left: 17px;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  background: none;
  pointer-events: none;
}
div.input-block input:valid + span.placeholder,
div.input-block input:focus + span.placeholder {
  transform: scale(0.8) translateY(-30px);
  background: #fff;
}
div.input-block input:focus{
  color: #284B63;
  border-color: #284B63;
}
div.input-block input:focus + span.placeholder {
  color: #284B63;
}
#WriteEditor {
	width: 300px;
	height: 300px;
}
#input-text {
	width: 100%;
	font-size: 1.4rem;
	height: 70px;
	text-align: right;
	padding-right: 30px;
}

#stackmoney {
	    position: relative;
	    top: 5vmin;
	    right: 5%;
	    height: 250px;
}
@media (min-height: 750px) {
	
	#stackmoney {
	    top: 15vmin;
	}
}
@media (min-height: 950px) {
	
	#stackmoney {
	    top: 30vmin;
	    
	}
}
.area_container li{
	list-style: none; 
}
.area_container {
	display: grid;
	grid-template-columns: repeat(4, auto) ;
	grid-template-rows : repeat(12,50px);
	align-items: center;
	padding-left : 2%;
	display: none;
}
.business_trip_section {
	width: 75%;
	
}
.business_container , .business_items_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items : center;
	flex-grow :1;
}
.business_items_container {
	justify-content: initial;
	
}
.business_items:nth-child(1) {
	flex: 1 10%;
}
.business_items:nth-child(2) {
	flex: 1 80%;
}
.business_items:nth-child(3) {
	margin-left : 5px;
	flex: 1 5%;
}
.business_items button {
	display: grid;
	grid-auto-flow: column;
	grid-gap: .5em;
	border: solid 2.2px;
	padding: 2px 10px;
	border-radius: 7em;
	background: #fff;
	color: #000;
	text-transform: uppercase;
	margin: 1px; 
}
.business_items button::after {
    content: attr(data-ico);
	}
}
