<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldDog.persistence.bum.MemberMapper">

	<!--회원 정보 추가  -->
	<insert id="addMember">
		insert into member(m_no, m_id, m_pw, m_name, m_email, m_phone, m_nick, m_type, m_status, m_img, m_date) 
		values(member_seq.nextval,#{m_id},#{m_pw},#{m_name},#{m_email},#{m_phone},#{m_nick},'보류',#{m_status},'null',sysdate)
	</insert>
	
	<!-- 주소 추가 -->
	<insert id="addaddress">
		insert into address(a_no, m_no, a_road, a_details, a_zonecode, a_name, a_addr) 
		values(address_seq.nextval,#{m_no},#{a_road},#{a_details}, #{a_zonecode},'집','null')
	</insert>
	
	<!-- 권한 추가  -->
	<insert id="addAuth">
		insert into auth values(#{m_no}, #{auth})
	</insert>
	
	<!-- 로그인 처리  
	<select id="idPwCheck" resultType="int">
 		select count(*) from member where m_id=#{m_id} 
 		<if test="m_pw != null">
	 		and m_pw=#{m_pw}
 		</if>
 	</select> -->
	
	<update id="updateMember">
		update member set m_pw=#{m_pw}, m_nick=#{m_nick}, m_email=#{m_email}, m_phone=#{m_phone}
		where m_id=#{m_id}
	</update>
	
	<!-- 시큐리티 추가  -->
	<!-- 테이블 묶기  -->
	<resultMap type="com.goldDog.domain.MemberVO" id="memberMap">
		<id property="m_no" column="m_no"/>
		<result property="m_no" column="m_no"/>
		<result property="m_id" column="m_id"/>
		<result property="m_pw" column="m_pw"/>
		<result property="m_name" column="m_name"/>
		<result property="m_email" column="m_email"/>
		<result property="m_phone" column="m_phone"/>
		<result property="m_nick" column="m_nick"/>
		<result property="m_manager" column="m_manager"/>
		<result property="m_status" column="m_status"/>
		<result property="m_img" column="m_img"/>
		<result property="m_date" column="m_date"/>
		
		<collection property="authList" resultMap="authMap"></collection>	
	</resultMap>

	<!-- 권한 테이블 값을 AuthVO 클래스에 대입하는것 명확히 정의 -->
	<resultMap type="com.goldDog.domain.AuthVO" id="authMap">
		<result property="m_no" column="m_no"/>
		<result property="auth" column="auth"/>
	</resultMap>

	<!-- 이게 젤 중요  테이블 2개 묶어서 권한 가져오기 타입은 위에 만들어준 타입으로-->
	<select id="getMember" resultMap="memberMap">
		select m.*, a.auth from member m, auth a
		where m.m_no = a.m_no
		and m_id = #{m_id}
	</select>
	
	<select id="getMemberEmail" resultType="com.goldDog.domain.MemberVO">
		select * from member where m_id=#{m_id}
	</select>
	
	<select id="getNameEmail" resultType="com.goldDog.domain.MemberVO">
		select * from member where m_name=#{m_name}
	</select>
	
	<select id="getMno" resultType="int">
		select m_no from member where m_id = #{m_id}
	</select>
	
	<select id="idCheck" parameterType="String" resultType="int">
		select count(m_id) from member where m_id= #{m_id}
	</select> 
	
	<select id="emailCheck" parameterType="String" resultType="int">
		select count(m_email) from member where m_email= #{m_email}
	</select> 
	
	<select id="nickCheck" parameterType="String" resultType="int">
		select count(m_nick) from member where m_nick= #{m_nick}
	</select> 
	
	<select id="nameCheck" resultType="int">
		select count(*) from member where m_name = #{m_name}
	</select>
	
	<update id="updatePw">
		update member set m_pw=#{m_pw} where m_id=#{m_id}
	</update>
	
	<select id="getAddress" resultType="com.goldDog.domain.AddressVO">
		select * from address where m_no =#{m_no}
	</select>
	
	<update id="updateAddress">
		update address set a_zonecode=#{a_zonecode}, a_road=#{a_road}, a_details=#{a_details}
		where m_no=#{m_no}
	</update>
	
	<insert id="addReview">
		insert into review values 
		(review_seq.nextval, #{m_no}, #{r_text}, #{r_score}, sysdate, #{r_img},0,0)
	</insert>
	
	
</mapper>
